{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block 'css' %}
{% endblock %}

{% block 'content' %}
    <div class="content-box">
        <div class="product ">
            <div class="images">
                <img src="uploads/depnhatchinhlayeuemw5NKwrtfg3.jpg" class="attachment-shop_single wp-post-image" alt="" title="" />
            </div>
            <div class="summary entry-summary">
                <h1 itemprop="name" class="product_title entry-title">Đẹp Nhất Chính Là Yêu Em</h1>
                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <p class="price"><span class="amount">Tác giả</span></p>

                    <!-- <div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span></div> -->
                </div>
                <!-- <div itemprop="description">
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </div> -->
                <!-- <form class="cart" method="post" enctype='multipart/form-data'>
                    <div class="quantity">
                        <input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" />
                    </div>
                    <input type="hidden" name="add-to-cart" value="1943" />
                    <button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>
                </form> -->
                <div class="product_meta">
                    <span class="posted_in">Thể loại: <a href="#" rel="tag">Clothing</a>, <a href="#" rel="tag">T-shirts</a></span>
                    <p><span>Trạng thái: Hoàn thành</span></p>
                    <p>CÁC CHƯƠNG MỚI NHẤT
                        <ul class="bullet_arrow4 imglist">
                            <li><a href="#" alt="" title="">Chương 1: Phụ Tử Phế Vật</a></li>
                            <li><a href="#" alt="" title="">Chương 2: </a></li>
                            <li><a href="#" alt="" title="">Chương 3: </a></li>
                            <li><a href="#" alt="" title="">Chương 4: </a></li>
                        </ul>   
                    </p>
                </div>
            </div>
            <!-- .summary -->
            <!-- <div class="woocommerce-tabs wc-tabs-wrapper"> -->
            <!-- <ul class="tabs wc-tabs">
                    <li class="description_tab">
                        <a href="#tab-description">Description</a>
                    </li>
                    <li class="reviews_tab">
                        <a href="#tab-reviews">Reviews (0)</a>
                    </li>
                </ul> -->
            <div class="panel entry-content wc-tab" id="tab-description">
                <h2>Giới thiệu</h2>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            </div>
            <div class="panel entry-content wc-tab" id="tab-description">
                <h2>MỤC LỤC</h2>
                <div class="cols-wrapper cols-2">
                    <div class="col">
                        <ul class="bullet_arrow4 imglist">
                            <li><a href="#" alt="" title="">Chương 1: Phụ Tử Phế Vật</a></li>
                            <li><a href="#" alt="" title="">Chương 2: </a></li>
                            <li><a href="#" alt="" title="">Chương 3: </a></li>
                            <li><a href="#" alt="" title="">Chương 4: </a></li>
                            <li><a href="#" alt="" title="">Chương 5: </a></li>
                            <li><a href="#" alt="" title="">Chương 6: </a></li>
                            <li><a href="#" alt="" title="">Chương 7: </a></li>
                            <li><a href="#" alt="" title="">Chương 8: </a></li>
                            <li><a href="#" alt="" title="">Chương 9: </a></li>
                            <li><a href="#" alt="" title="">Chương 10: </a></li>
                            <li><a href="#" alt="" title="">Chương 11: </a></li>
                            <li><a href="#" alt="" title="">Chương 12: </a></li>
                        </ul>
                    </div>
                    <div class="col nomargin">
                        <ul class="bullet_arrow4 imglist">
                            <li><a href="#" alt="" title="">Chương 1: Phụ Tử Phế Vật</a></li>
                            <li><a href="#" alt="" title="">Chương 2: </a></li>
                            <li><a href="#" alt="" title="">Chương 3: </a></li>
                            <li><a href="#" alt="" title="">Chương 4: </a></li>
                            <li><a href="#" alt="" title="">Chương 5: </a></li>
                            <li><a href="#" alt="" title="">Chương 6: </a></li>
                            <li><a href="#" alt="" title="">Chương 7: </a></li>
                            <li><a href="#" alt="" title="">Chương 8: </a></li>
                            <li><a href="#" alt="" title="">Chương 9: </a></li>
                            <li><a href="#" alt="" title="">Chương 10: </a></li>
                            <li><a href="#" alt="" title="">Chương 11: </a></li>
                            <li><a href="#" alt="" title="">Chương 12: </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wp-pagenavi">
                <span class="pages">Page 1 of 2</span>
                <span class="current">1</span>
                <a class="page larger" href="http://pexetothemes.com/demos/story_wp/blog/page/2/">2</a>
                <a class="" rel="next" href="http://pexetothemes.com/demos/story_wp/blog/page/2/">»</a>
            </div>
            <!-- </div> -->
            <!--  <div class="related products">
                <h2>Related Products</h2>
                <ul class="products">
                    <li class="first post-1941 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-t-shirts pa_color-black pa_color-green shipping-taxable purchasable product-type-variable product-cat-clothing product-cat-t-shirts instock">
                        <a href="javascript:if(confirm(%27http://pexetothemes.com/demos/story_wp/product/ship-your-idea/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://pexetothemes.com/demos/story_wp/product/ship-your-idea/%27" tppabs="http://pexetothemes.com/demos/story_wp/product/ship-your-idea/">
                            <img width="400" height="400" src="T_4_front-400x400.jpg" tppabs="http://pexetothemes.com/demos/story_wp/wp-content/uploads/2013/06/T_4_front-400x400.jpg" class="attachment-shop_catalog wp-post-image" alt="T_4_front" />
                            <h3>Ship Your Idea</h3>
                            <div class="star-rating" title="Rated 4.33 out of 5"><span style="width:86.6%"><strong class="rating">4.33</strong> out of 5</span></div>
                            <span class="price"><span class="amount">&pound;20.00</span></span>
                        </a>
                        <a href="javascript:if(confirm(%27http://pexetothemes.com/demos/story_wp/product/ship-your-idea/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://pexetothemes.com/demos/story_wp/product/ship-your-idea/%27" tppabs="http://pexetothemes.com/demos/story_wp/product/ship-your-idea/" rel="nofollow" data-product_id="1941" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_variable">Select options</a>
                    </li>
                    <li class="post-1940 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-t-shirts shipping-taxable purchasable product-type-simple product-cat-clothing product-cat-t-shirts instock">
                        <a href="javascript:if(confirm(%27http://pexetothemes.com/demos/story_wp/product/premium-quality/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://pexetothemes.com/demos/story_wp/product/premium-quality/%27" tppabs="http://pexetothemes.com/demos/story_wp/product/premium-quality/">
                            <img width="400" height="400" src="T_2_front-400x400.jpg" tppabs="http://pexetothemes.com/demos/story_wp/wp-content/uploads/2013/06/T_2_front-400x400.jpg" class="attachment-shop_catalog wp-post-image" alt="T_2_front" />
                            <h3>Premium Quality</h3>
                            <div class="star-rating" title="Rated 4.50 out of 5"><span style="width:90%"><strong class="rating">4.50</strong> out of 5</span></div>
                            <span class="price"><span class="amount">&pound;20.00</span></span>
                        </a>
                        <a href="-add-to-cart=1940.htm" tppabs="http://pexetothemes.com/demos/story_wp/product/woo-ninja/?add-to-cart=1940" rel="nofollow" data-product_id="1940" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a>
                    </li>
                    <li class="last post-1939 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-t-shirts sale shipping-taxable purchasable product-type-simple product-cat-clothing product-cat-t-shirts instock">
                        <a href="javascript:if(confirm(%27http://pexetothemes.com/demos/story_wp/product/woo-logo/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://pexetothemes.com/demos/story_wp/product/woo-logo/%27" tppabs="http://pexetothemes.com/demos/story_wp/product/woo-logo/">
                            <span class="onsale">Sale!</span>
                            <img width="400" height="400" src="T_1_front-400x400.jpg" tppabs="http://pexetothemes.com/demos/story_wp/wp-content/uploads/2013/06/T_1_front-400x400.jpg" class="attachment-shop_catalog wp-post-image" alt="T_1_front" />
                            <h3>Woo Logo</h3>
                            <div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div>
                            <span class="price"><del><span class="amount">&pound;20.00</span></del>
                            <ins><span class="amount">&pound;18.00</span></ins>
                            </span>
                        </a>
                        <a href="-add-to-cart=1939.htm" tppabs="http://pexetothemes.com/demos/story_wp/product/woo-ninja/?add-to-cart=1939" rel="nofollow" data-product_id="1939" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a>
                    </li>
                </ul>
            </div> -->
            <!-- <meta itemprop="url" content="http://pexetothemes.com/demos/story_wp/product/woo-ninja/" /> -->
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block 'js' %}
{% endblock %}