{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block 'css' %}
{% endblock %}

{% block 'content' %}
    <div class="content-box">
        <div class="product ">
            <div class="images">
                <img src="{% static "upload/depnhatchinhlayeuemw5NKwrtfg3.jpg" %}" class="attachment-shop_single wp-post-image" alt="" title="" />
            </div>
            <div class="summary entry-summary">
                <h1 itemprop="name" class="product_title entry-title">{{ object.title }}</h1>
                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <p class="price"><span class="amount">Author:</span> {{ object.author }}</p>

                    <div class="star-rating" title="Rated 5.00 out of 5">
                        <span style="width:100%"><strong class="rating">{{ object.get_rating }}</strong> out of 5</span>
                    </div>
                </div>
                <div class="product_meta">
                    <p><span>Publish: {{ object.publish_date }}</span></p>
                    <span class="posted_in">Category:
                        {% for cate in object.categories.all %}
                            <a href="/categories/{{ cate.id }}" rel="tag">{{ cate.name }}</a>
                        {% endfor %}
                    </span>
                    <p><span>Pages: {{ object.pages }}</span></p>
                </div>
            </div>
            <!-- .summary -->
            <div class="woocommerce-tabs wc-tabs-wrapper">

                <div class="panel entry-content wc-tab" id="tab-description">
                    <h2>Description</h2>
                    <p>{{ object.description|safe }}</p>
                </div>
                <div class="panel entry-content wc-tab" id="tab-description">
                    <h2>Reviews:</h2>
                    <div class="cols-wrapper cols-2">
                        
                    </div>
                </div>
                <!-- <div class="wp-pagenavi">
                    <span class="pages">Page 1 of 2</span>
                    <span class="current">1</span>
                    <a class="page larger" href="http://pexetothemes.com/demos/story_wp/blog/page/2/">2</a>
                    <a class="" rel="next" href="http://pexetothemes.com/demos/story_wp/blog/page/2/">»</a>
                </div> -->
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block 'js' %}
{% endblock %}
