{% extends 'admin/layout/base.html' %}

{% block 'css' %}
{% endblock %}

{% block 'content' %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Requested Book
            <small>List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Requested Book</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Username</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Time Request</th>
                                <th>Status</th>
                                <th class="text-center" style="width: 140px">Action</th>
                            </tr>
                            {% for item in list_requested_book %}
                                <tr>
                                    <td>{{ item.id }}.</td>
                                    <td>{{ item.user_profile.user.username }}</td>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>{{ item.requested_time|date:'d/m/Y H:M:s' }}</td>
                                    <td>{{ item.get_status_display }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-default" href="{% url 'admin:update_requested_book' item.pk %}">Update</a>
                                        <a href="#" data-href="/admin/request/delete/{{ item.id }}" data-toggle="modal" data-target="#confirm-delete">
                                            <span class="badge bg-red">Delete</span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
{% endblock %}

{% block 'js' %}
{% endblock %}
