{% extends 'layout/base.html' %}

{% block 'css' %}
{% endblock %}

{% block 'content' %}
    <div class="content-box">
        <h2 class="page-heading">
            List of Followees
        </h2>        

        {% if object_list %}
            <table>
                <tr>
                    <th style="width: 220px;">Username</th>
                    <th style="width: 220px;">Fullname</th>
                    <th style="width: 360px;">Date</th>
                    <th style="text-align: center;"></th>
                </tr>
            {% for obj in object_list %}
                {% with followee=obj.followee %}
                <tr>
                    <td><a href="#">{{ followee.user.username }}</a></td>
                    <td>{{ followee.user.get_full_name }}</td>
                    <td>{{ obj.time }}</td>
                    <td style="text-align: center;">
                        <div>
                            <form method="POST" action="{% url 'users:unfollow' followee.pk %}">
                                {% csrf_token %}
                                <button type="submit">Unfollow</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endwith %}
            {% endfor %}
            </table>
        {% else %}
        <p>You have not followed anyone.</p>
        {% endif %}
    </div>
{% endblock %}
