{% extends 'layout/base.html' %}

{% block 'css' %}
{% endblock %}

{% block 'content' %}
    <div class="content-box">
        <h2 class="page-heading">Login</h2>

        <form method="post" id="submit-form" class="pexeto-contact-form" action="{% url 'users:login' %}">
            {% csrf_token %}

            {% if next %}
                <input type="hidden" name="next" value="{{ next }}"/>
            {% endif %}

            <div class="error-box error-message" {% if form.non_field_errors %} style="display: block;" {% endif %}>{{ form.non_field_errors }}</div>
            
            <div class="contact-form-input contact-input-wrapper {% if form.username.errors %} invalid {% endif %}">
                <label class="contact-label">
                Username            <span class="mandatory">*</span>
                </label>
                <input name="username" value="{{ form.username.value|default_if_none:'' }}" class="required" type="text" placeholder="Enter username">
                <span class="help-block">{{ form.username.errors }}</span>
            </div>
            
            <div class="contact-form-input contact-input-wrapper {% if form.password.errors %} invalid {% endif %}">
                <label class="contact-label">
                Password          <span class="mandatory">*</span>
                </label>
                <input name="password" class="required password" type="password" placeholder="Enter password">
                <span class="help-block">{{ form.password.errors }}</span>
            </div>
            
            <button class="button send-button" type="submit">
                <span>Login</span>
            </button>
            
            <div class="contact-loader"></div>
            <div class="clear"></div>
        </form>
    </div>
{% endblock %}

{% block 'js' %}
{% endblock %}
