{% load staticfiles %}

<div class="header-wrapper">
    <header id="header">
        <div class="section-boxed section-header">
            <div id="logo-container">
                <a href="#"><img src="{% static 'user/imgs/logo@2x.png' %}" alt="Book Review System"></a>
            </div>
            <div class="mobile-nav">
                <span class="mob-nav-btn">Menu</span>
            </div>
            <nav class="navigation-container">
                <div id="menu" class="nav-menu">
                    <ul id="menu-story-main-menu" class="menu-ul">
                        <li id="" class="menu-item  menu-item-has-children mega-menu-item ">
                            <a href="/">Home</a>                            
                        </li>
                        <li id="" class="menu-item menu-item-has-children mega-menu-item mega-menu-item-without-header">
                            <a href="#">Categories<span class="drop-arrow"></span></a>
                            <ul class="sub-menu mega-columns-4">
                                {% for category in list_category %}
                                    <li class="menu-item"><a href="#">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="menu-item "><a href="#">My Books</a></li>
                        <li class="menu-item "><a href="#">Recommendations</a></li>
                    </ul>
                </div>
                <div class="header-buttons">
                    <div class="header-search">
                        <div class="search-wrapper" style="display: none; opacity: 0;">
                            <form role="search" method="get" class="searchform" action="">
                                <input type="text" name="s" class="search-input placeholder" placeholder="Search">
                                <input type="submit" value="" class="search-button">
                            </form>
                        </div>
                        <a href="#" class="header-search-btn">Search</a>
                    </div>
                    <!--<div class="social-profiles">
                        <ul class="social-icons">
                            <li>
                                <a href="#" target="_blank" title="Pexeto on Facebook">
                                    <div>
                                        <img src="imgs/facebook.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Follow us on Twitter">
                                    <div>
                                        <img src="imgs/twitter.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Pexeto on Google+">
                                    <div>
                                        <img src="imgs/googleplus.png" alt="">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>-->
                </div>
            </nav>
            <div class="clear"></div>
            <div id="navigation-line"></div>
        </div>
    </header>
    <!-- end #header -->
    <div class="page-title-wrapper">
        <div class="page-title">
            <div class="content-boxed">
                <h1>ooo</h1>
                <!--<span class="page-subtitle">Nothing is impossible!</span>-->
                <span class="page-subtitle">Good Reads - Book Review System</span>
            </div>
        </div>
    </div>
</div>