{% load staticfiles %}
{% load socialaccount %}
{% load carts %}
{% providers_media_js %}

<div class="header-wrapper">
    <header id="header">
        <div class="section-boxed section-header">
            <div id="logo-container">
                <a href="/"><img src="{% static 'user/imgs/logo@2x.png' %}" alt="Book Review System"></a>
            </div>
            <div class="mobile-nav">
                <span class="mob-nav-btn">Menu</span>
            </div>
            <nav class="navigation-container">
                <div id="menu" class="nav-menu">
                    <ul id="menu-story-main-menu" class="menu-ul">
                        <li id="" class="menu-item  menu-item-has-children mega-menu-item ">
                            <a href="/">Home</a>                            
                        </li>
                        <li id="" class="menu-item menu-item-has-children mega-menu-item mega-menu-item-without-header">
                            <a href="#">Categories<span class="drop-arrow"></span></a>
                            <ul class="sub-menu mega-columns-4">
                                {% for category in list_category %}
                                    <li class="menu-item"><a href="/categories/{{ category.id }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="menu-item "><a href="{% url 'books:recommendations' %}">Recommendations</a></li>

                        {% if request.user.is_authenticated %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-1342">
                                <a href="#">{{ request.user.username }}<span class="drop-arrow"></span></a>
                                <ul style="left: 0px; display: none; opacity: 1;" class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="{% url 'users:followers' user.pk %}">Followers</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="{% url 'users:following' user.pk %}">Following</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="{% url 'books:history' user.username %}">My Books</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="{% url 'requests:index' %}">Request</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="{% url 'users:logout' %}">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-1342">
                                <a href="{% url 'users:login' %}">Login<span class="drop-arrow"></span></a>
                                <ul style="left: 0px; display: none; opacity: 1;" class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="{% url 'users:login' %}">Login</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="{% url 'users:signup' %}">Signup</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="{% provider_login_url "facebook" method="js_sdk" %}">
                                            <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xaf1/t39.2178-6/851579_209602122530903_1060396115_n.png">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>            

                <div class="header-buttons">
                    {% if list_cart|length > 0 %}
                        <div class="pex-woo-cart-btn-wrap">
                            <div class="pex-woo-cart-btn btn-visible" style="display: block;">
                                <div class="pex-woo-cart-num" data-num="1">{{ list_cart|length }}</div>
                            </div>
                            <div class="pex-woo-cart-holder">
                                <div class="pex-woo-cart">
                                    <ul class="cart_list product_list_widget ">
                                        {% for book in list_cart %}
                                            <li class="mini_cart_item">
                                                <form id="form-{{ book.id }}" method="POST" action="{% url 'carts:remove' %}">
                                                    {% csrf_token %}
                                                    <input name="book" type="hidden" value="{{ book.id }}">
                                                    <a href="#" onclick="document.forms['form-{{ book.id }}'].submit(); return false;" class="remove" title="Remove this item">×</a>
                                                </form>

                                                <a href="{% url 'books:detail' book.id book.slug %}">
                                                        <img src="{{ book.get_cover_url }}" class="attachment-shop_thumbnail wp-post-image" alt="poster_2_up" height="120" width="120">{{ book.title|truncatechars:'20' }}&nbsp;
                                                    </a>
                                                    <span class="quantity2">{% get_quantity book.id %} × <span class="amount">{{ book.price }}</span></span>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                    <!-- end product list -->
                                    <p class="total"><strong>Subtotal:</strong> <span class="amount">${% get_total_price %}</span></p>
                                    <p class="buttons">
                                        <a href="{% url 'carts:view' %}" class="button wc-forward">View Cart</a>
                                        <a href="{% url 'carts:checkout' %}" class="button checkout wc-forward">Checkout</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- <div class="social-profiles">
                        <ul class="social-icons">
                            <li>
                                <a href="http://www.facebook.com/pages/Pexeto/154921334549933" target="_blank" title="Pexeto on Facebook">
                                    <div>
                                        <img src="http://pexetothemes.com/demos/story_wp/wp-content/themes/thestory/images/icons_white/facebook.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/pexeto" target="_blank" title="Follow us on Twitter">
                                    <div>
                                        <img src="http://pexetothemes.com/demos/story_wp/wp-content/themes/thestory/images/icons_white/twitter.png" alt="">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </nav>
            <div class="clear"></div>
            <div id="navigation-line"></div>
        </div>
    </header>
    <!-- end #header -->
    <div class="page-title-wrapper">
        <div class="page-title">
            <div class="content-boxed">
                <h1>ooo</h1>
                <!--<span class="page-subtitle">Nothing is impossible!</span>-->
                <span class="page-subtitle">Good Reads - Book Review System</span>
            </div>
        </div>
    </div>
</div>
