{% load staticfiles %}

<div class="header-wrapper">
    <header id="header">
        <div class="section-boxed section-header">
            <div id="logo-container">
                <a href="/"><img src="{% static 'user/imgs/logo@2x.png' %}" alt="Book Review System"></a>
            </div>
            <div class="mobile-nav">
                <span class="mob-nav-btn">Menu</span>
            </div>
            <nav class="navigation-container">
                <div id="menu" class="nav-menu">
                    <ul id="menu-story-main-menu" class="menu-ul">
                        <li id="" class="menu-item  menu-item-has-children mega-menu-item ">
                            <a href="/">Home</a>                            
                        </li>
                        <li id="" class="menu-item menu-item-has-children mega-menu-item mega-menu-item-without-header">
                            <a href="#">Categories<span class="drop-arrow"></span></a>
                            <ul class="sub-menu mega-columns-4">
                                {% for category in list_category %}
                                    <li class="menu-item"><a href="/categories/{{ category.id }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="menu-item "><a href="/books/recommendations">Recommendations</a></li>

                        {% if request.user.is_authenticated %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-1342">
                                <a href="/users/login">{{ request.user.username }}<span class="drop-arrow"></span></a>
                                <ul style="left: 0px; display: none; opacity: 1;" class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="{% url 'users:followers' user.pk %}">Followers</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="{% url 'users:following' user.pk %}">Following</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="/books/history">My Books</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="{% url 'requests:index' %}">Request</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="/users/logout">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-1342">
                                <a href="/users/login">Login<span class="drop-arrow"></span></a>
                                <ul style="left: 0px; display: none; opacity: 1;" class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="/users/login">Login</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343">
                                        <a href="/users/signup">Signup</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="header-buttons">
                    <div class="header-search">
                        <div class="search-wrapper" style="display: none; opacity: 0;">
                            <form role="search" method="GET" class="searchform" action="{% url 'books:search' %}">
                                <input type="text" name="s" class="search-input placeholder" placeholder="Search">
                                <input type="submit" class="search-button">
                            </form>
                        </div>
                        <a href="#" class="header-search-btn">Search</a>
                    </div>
                    <!--<div class="social-profiles">
                        <ul class="social-icons">
                            <li>
                                <a href="#" target="_blank" title="Pexeto on Facebook">
                                    <div>
                                        <img src="imgs/facebook.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Follow us on Twitter">
                                    <div>
                                        <img src="imgs/twitter.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Pexeto on Google+">
                                    <div>
                                        <img src="imgs/googleplus.png" alt="">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>-->
                </div>
            </nav>
            <div class="clear"></div>
            <div id="navigation-line"></div>
        </div>
    </header>
    <!-- end #header -->
    <div class="page-title-wrapper">
        <div class="page-title">
            <div class="content-boxed">
                <h1>ooo</h1>
                <!--<span class="page-subtitle">Nothing is impossible!</span>-->
                <span class="page-subtitle">Good Reads - Book Review System</span>
            </div>
        </div>
    </div>
</div>
