{% load staticfiles %}

<div id="sidebar" class="sidebar">
    <aside class="sidebar-box">
        <h4 class="title">Categories</h4>
        <ul class="tags">
            {% for category in list_category %}
                <li><a href="/categories/{{ category.id }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </aside>

    <aside class="sidebar-box widget_search" id="search-3">
        <h4 class="title">Search</h4>
        <div class="search-wrapper">
            <form role="search" method="get" class="searchform" action="">
                <input type="text" name="s" class="search-input placeholder" placeholder="Search">
                <input type="submit" value="" class="search-button">
            </form>
        </div>
    </aside>
   
    <aside class="sidebar-box widget_categories" id="categories-3">
        <h4 class="title">Recommendations Book</h4>
        <div class="sidebar-latest-posts">
            {% for book in list_book_recommendations %}
                <div class="lp-wrapper">
                    <a href="/{{ book.id }}-{{ book.slug }}">
                        <img src="{% static "upload/miengdocthanhdoiI8Dam9thHn.jpg" %}" alt="" class="alignleft img-frame" width="55">
                    </a>
                    <div class="lp-info-wrapper">
                        <span class="lp-title"><a href="/{{ book.id }}-{{ book.slug }}">{{ book.title }}</a> <small style="display:block;">Author: {{ book.author }}</small></span>
                        <span class="lp-post-info">{{ book.publish_date }} </span>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            {% endfor %}
        </div>
    </aside>
   
    <aside class="sidebar-box widget_text" id="text-2">
        <h4 class="title">Top Review</h4>
        <div class="sidebar-latest-posts">
            {% for book in list_top_review %}
                <div class="lp-wrapper">
                    <a href="/{{ book.id }}-{{ book.slug }}">
                        <img src="{% static "upload/miengdocthanhdoiI8Dam9thHn.jpg" %}" alt="" class="alignleft img-frame" width="55">
                    </a>
                    <div class="lp-info-wrapper">
                        <span class="lp-title"><a href="#">{{ book.title }}</a> <small style="display:block;">Author: {{ book.author }}</small></span>
                        <span class="lp-post-info">{{ book.publish_date }} </span>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            {% endfor %}
        </div>
    </aside>    
</div>